.MyButtonOrange {
    cursor: pointer;
    border: 3px solid orangered;
    padding: 7.5px 15px;
}

.MyButtonIsClicked {
    cursor: pointer;
    border: 5px solid orange;
    padding: 7.5px 15px;
}